<ion-content>
  <ion-slides class="mainSlide" #mainSlide>
    <ion-slide>
      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
        <ion-grid fixed="fixed">
          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label mode="md">Email</ion-label>

                  <ion-input
                    mode="md"
                    name="email"
                    type="email"
                    [(ngModel)]="loginUser.email"
                    required="required"
                  ></ion-input>
                </ion-item>

                <ion-item mode="md">
                  <ion-label mode="md">Password</ion-label>

                  <ion-input
                    mode="md"
                    name="password"
                    type="password"
                    [(ngModel)]="loginUser.password"
                    required="required"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                color="danger"
                expand="full"
              >Login</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed="fixed">
        <app-avatar-selector (avatarSel)="registerUser.avatar = $event"></app-avatar-selector>
        <form (ngSubmit)="register(fRegister)" #fRegister="ngForm">
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item mode="md">
                  <ion-label mode="md">Email</ion-label>

                  <ion-input
                    mode="md"
                    name="email"
                    type="email"
                    [(ngModel)]="registerUser.email"
                    required="required"
                  ></ion-input>
                </ion-item>

                <ion-item mode="md">
                  <ion-label mode="md">Name</ion-label>

                  <ion-input
                    mode="md"
                    name="name"
                    type="text"
                    [(ngModel)]="registerUser.name"
                    required="required"
                  ></ion-input>
                </ion-item>

                <ion-item mode="md">
                  <ion-label mode="md">Password</ion-label>

                  <ion-input
                    mode="md"
                    name="password"
                    type="password"
                    [(ngModel)]="registerUser.password"
                    required="required"
                  ></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button
                type="submit"
                color="danger"
                expand="full"
              >Create user</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          size="small"
          fill="outline"
          color="danger"
          (click)="showLogin()"
        >Login</ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          expand="block"
          size="small"
          fill="outline"
          color="danger"
          (click)="showRegister()"
        >Create account</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>