<ion-grid fixed>
    <ion-row>
        <ion-col *ngFor="let p of posts" size="12" size-lg="3"
                 size-md="4" size-sm="6" size-xs="12">
            <app-post [post]="p"></app-post>
        </ion-col>
    </ion-row>
</ion-grid>
