<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="bonfire"></ion-icon>
        </ion-buttons>
        <ion-title>
            FotosGram
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <!-- Posts -->
    <app-posts [posts]="posts"></app-posts>

    <!-- Infinite scroll -->
    <ion-infinite-scroll [disabled]="!enable" threshold="150px" (ionInfinite)="next($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>