<ion-row>
  <ion-col text-center>
    <h3>Select Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-slides [options]="avatarSlide">
      <ion-slide *ngFor="let a of avatars">
        <img
          class="pick-avatar"
          src="/assets/avatars/{{a.img}}"
          [ngClass]="{'pick-avatar-seleccionado': a.seleccionado}"
          (click)="selectAvatar(a)"
        >
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>